*.elc
custom.el
*~
*#
elpa/
recentf
custom.el
projectile.cache
projectile-bookmarks.eld
var/
.mc-lists.el
company-statistics-cache.el
.litable-lists.el
bookmarks
tramp
eshell/
ido.last
tldr/
.org-id-locations
url/
/request/
GPATH
GRTAGS
GTAGS
org-clock-save.el
oauth2.plstore
.trello/
org-gcal/
.last-package-update-day
nov-places
el-get/
